<!DOCTYPE html>
<html lang="en">

<head>
  {% block title %}
  <title>Sistem Beasiswa Online</title>
  {% endblock %}
 
  <link rel="icon" href= "https://thumb.ibb.co/jCLfKS/Screenshot_1.png">

  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:900" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style>
    body{
       background-color: #eaeaea
    }
  	.navbar{
  		border-radius: 0;
      background-color: #202021;
      border-color: #202021;
  	}
  	#navbar-brand{
  		font-family: Lato:900;
  		font-size: 25px;
  	}
  	.nav{
  		font-family: Montserrat;
  		font-size: 18px;
  	}
  </style>

  {%block head%}
  {%endblock%}

</head>

<body>
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid"> 

      <ul class="nav navbar-nav">
      {%with url_name=request.resolver_match.url_name%}
        <li class ="{% if url_name == 'index' %}active{% endif %}" id = "navbar-brand"><a href="{% url 'landingpage:index' %}"> SIMBION </a></li>
        <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Pengumuman </a></li>     
      {%endwith%}
		  </ul>

      <ul class="nav navbar-nav navbar-right">
        {%with url_name=request.resolver_match.url_name%}
        <li class="dropdown {% if url_name == 'register-donatur' %}active{% endif %} {% if url_name == 'register-mahasiswa' %}active{% endif %}">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="glyphicon glyphicon-user"></span> Register <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'landingpage:register-donatur' %}">Donatur</a></li>
            <li><a href="{% url 'landingpage:register-mahasiswa' %}">Mahasiswa</a></li>
          </ul>
        </li>
        <li class="{% if url_name == 'login' %}active{% endif %}">
          <a href="{% url 'landingpage:login' %}"><span class="glyphicon glyphicon-log-in"></span> Login </a>
        </li>
        {%endwith%}
      </ul>

	  </div>
	</nav>
  {%block body%}
  {%endblock%}
</body>

</html>
