{% extends "navbar.html" %}

{%block title%}
  <title>Register Donatur</title>
{%endblock%}

{%block head%}
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

	<style>
		.center-div{
			padding-top: 150px;
			text-align:center;
		}
		.button {
		    background-color: #4CAF50; /* Green */
		    border: none;
		    color: white;
		    padding: 15px 32px;
		    text-align: center;
		    text-decoration: none;
		    display: inline-block;
		    font-size: 20px;
		    font-family: 'Montserrat';
		    background-color: #1dabb8;
		    margin: 4px 2px;
		    cursor: pointer;
		    -webkit-transition-duration: 0.4s; /* Safari */
		    transition-duration: 0.4s;
		    width: 200px;
		}

		.button1:hover {
		    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
		    background-color: #198d98;
		}

		a:link {
	    color: white; 
	    background-color: transparent; 
	    text-decoration: none;
		}

	</style>
{%endblock%}

{%block body%}
  <div class="center-div">
    <button class="button button1"><a href="{% url 'landingpage:register-donatur-individual' %}">Individual</a></button>
    <button class="button button1"><a href="{% url 'landingpage:register-donatur-yayasan' %}">Yayasan</a></button>
  </div>
{%endblock%}