{% extends "navbar.html" %}

{%load staticfiles%}

{%block title%}
  <title>Register Donatur Individual</title>
{%endblock%}

{%block head%}
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{%endblock%}

{%block body%}
  <div class="grid">

    <form action="/" method="post" class="form login">

      <header class="login__header">
        <h3 class="login__title">Register Donatur Individual</h3>
      </header>

      <div class="login__body">

        <div class="form__field"> Username
          <input type="username" placeholder="Username" required>
        </div>         
        
        <div class="form__field"> Password
          <input type="Password" placeholder="Password" required>
        </div> 

        <div class="form__field"> Nomor Identitas
          <input type="text" placeholder="Nomor Identitas" required>
        </div>

        <div class="form__field"> NIK
          <input type="text" placeholder="NIK" required>
        </div>

        <div class="form__field"> Email
          <input type="tel" placeholder="Email" required>
        </div>
        
        <div class="form__field"> Nama Lengkap
          <input type="text" placeholder="Nama Lengkap" required>
        </div>

        <div class="form__field"> NPWP
          <input type="text" placeholder="NPWP" required>
        </div> 

        <div class="form__field"> Nomor Telepon
          <input type="text" placeholder="Nomor Telepon">
        </div>

        <div class="form__field"> Alamat Lengkap
          <input type="text" placeholder="Alamat Lengkap" required>
        </div>
      
      </div>

      <footer class="login__footer">
        <input type="submit" value="Register">
      </footer>

    </form>

  </div>

{%endblock%}

