{% extends "navbar.html" %}

{%load staticfiles%}

{%block title%}
  <title>Register Paket Beasiswa</title>
{%endblock%}

{%block head%}
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{%endblock%}

{%block body%}
  <div class="grid">

    <form action="/" method="post" class="form login">

      <header class="login__header">
        <h3 class="login__title">Register Mahasiswa</h3>
      </header>

      <div class="login__body">

        <div class="form__field"> Username
          <input type="username" placeholder="Username" required>
        </div>         
        
        <div class="form__field"> Password
          <input type="Password" placeholder="Password" required>
        </div> 

        <div class="form__field"> NPM
          <input type="text" placeholder="NPM" required>
        </div>

        <div class="form__field"> Email
          <input type="email" placeholder="Email" required>
        </div>
        
        <div class="form__field"> Nama Lengkap
          <input type="text" placeholder="Nama" required>
        </div>

        <div class="form__field"> Nomor Telepon
          <input type="tel" placeholder="No Telp" required>
        </div> 

        <div class="form__field"> Alamat Tempat Tinggal
          <input type="text" placeholder="Alamat Tinggal">
        </div>

        <div class="form__field"> Alamat Domisili
          <input type="text" placeholder="Alamat Domisili" required>
        </div>
        
        <div class="form__field"> Instansi Bank
          <input type="text" placeholder="Nama Bank" required>
        </div>

        <div class="form__field"> Nomor Rekening
          <input type="text" placeholder="Nomor Rekening" required>
        </div> 

        <div class="form__field"> Nama Pemilik
          <input type="text" placeholder="Nama Pemilik" required>
        </div>
      
      </div>

      <footer class="login__footer">
        <input type="submit" value="Register">
      </footer>

    </form>

  </div>

{%endblock%}

